.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.messagesContainer{
  background-color: black;
  color: white;
  width: 30%;
  height: 70%;
}
